kedro==0.16.6
pandas==0.25.3 # above >1.0.0, the mlflow signature raises an error with a string column
datasets==1.2.1
kedro-viz==3.17.1
kedro-mlflow==0.4.1
mlflow==1.26.1 # above 1.10.0, the UI crashes unexpectedly when selecting the model.
# numpy==1.18.5 ## several known bugs with numpy>1.19
scikit-learn==0.23.2
xgboost==1.2.0
matplotlib==3.3.4
keras-preprocessing==1.1.2
